header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
}


nav {
    background-color: whitesmoke;
    padding: 20px;
    width: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: fixed;
    top: 0;
    bottom: 0;
    transition: width 0.3s;
    overflow: hidden;
}

nav:hover {
    width: 130px;
    .arrow{
        transform: scaleX(-1);
    }
    .imageButton{
        align-items: center;
        margin-left: 30px;
        margin-bottom: 10px;
    }
}

.picture{
    width: 30px;
    height: 420px;
}

.arrow{
    max-width: 135%;
    max-height: 100%;
}
.imageButton{
    max-width: 50%;
}

.logo {
    width: 90px;
    height: auto;
    margin-left: -40px;
}

h2 {
    color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

body{
    overflow: hidden;
    margin: auto;
    font-family: Arial, sans-serif;
}

.notifiche-esci{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15vh;
}

.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120vh;
}

.titolo{
    font-size: 4vh;
}

.logout{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 3vh;
}


.containerDatiConto {
    margin-top: -13%;
    text-align: center;
    background-color:  rgba(208, 208, 208, 0.9);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#item{
    height: 4vh;
    cursor: pointer;

}

#titleTrans{
    margin-bottom: -3vh;
}

#item:hover{
    background-color: white;
}

.containerDatiTransazioni {
    max-height: 38vh;
    text-align: center;
    background-color:  rgba(208, 208, 208, 0.9);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap:5vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.scrollable-list {
    max-height: 300px; /* Imposta l'altezza massima desiderata */
    overflow-y: auto; /* Aggiunge la barra di scorrimento verticale se necessario */
}

.additional-info {
    display: none; /* Inizialmente nascondi gli elementi aggiuntivi */
    margin-top: 10px; /* Aggiungi uno spazio sopra gli elementi aggiuntivi */
}

.informazioniConto{
    background: url('../images/allec-gomes-gJ8VovObjRA-unsplash.jpg') center no-repeat;
    background-size: cover;
    align-items: center;
    padding: 180px;
    display: flex;
    flex-direction: column;
    gap:5vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}








/*CENTRO NOTIFICHE DA IMPLEMENTARE*/


.centroNotifiche {
    position: relative;
    cursor: pointer;
}

.notificheMenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
}

.notificheMenu li {
    list-style: none;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
