header {
    background-color: #3498db;
    display: flex;
}

.esciImage {
    margin-top: 0.5em;
    max-width: 6vw;
    max-height: 6vw;
}

.esciImage:hover{
    background-color: black;
    border-radius: 40%;

}

.questionImage{
    margin-top: 0.5em;
    max-width: 4vw;
    max-height: 4vw;
}

.questionImage:hover{
    background-color: black;
    border-radius: 40%;
}

.notificaImage {
    cursor: pointer;
    max-width: 4vw;
    max-height: 4vw;
}

.notificaImage:hover{
    background-color: black;
    border-radius: 40%;

}
.iconeNE {
    position: relative;
    display: flex;
    gap: 8vw;
    align-items: center;
    margin-left: 33vw;
}

.containerHeader {
    display: flex;
    margin-left: 10%;
}

.logoEtitolo {
    display: flex;
    align-items: center;
}

.titolo {
    color: white;
    margin: 0;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .containerHeader {
        flex-direction: column;
        align-items: center;
    }

    .iconeNE {
        margin-top: 10px; /
        gap: 1vw;
    }
}



nav {
    background-color: rgba(208, 208, 208);
    padding: 20px;
    width: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: fixed;
    top: 0;
    bottom: 0;
    transition: width 0.3s;
    overflow: hidden;
}


nav:hover {
    width: 130px;
    .arrow{
        transform: scaleX(-1);
    }
    .imageButton{
        align-items: center;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .imageButton:hover{
        background-color: #ffffff;
        border-radius: 40%;
    }
}

.picture{
    width: 30px;
    height: 420px;
}

.arrow{
    max-width: 135%;
    max-height: 100%;
}
.imageButton{
    max-width: 70%;
}



.logo {
    width: 90px;
    height: auto;
    margin-left: -40px;
}

h2 {
    color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

body {
    background: url('../images/sfondoGenerale.png') center no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-attachment: fixed;


}



.titolo{
    font-size: 4vh;
}

.logout{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 3vh;
}




.containerDatiConto {
    margin-top: -2%;
    transform: translateY(-50%);
    text-align: center;
    background-color: rgba(208, 208, 208, 0.9);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}


.bloccoTransazioni {
    width: 70%;
    margin-top: -11%;
    max-height: 38vh;
    background-color: rgba(208, 208, 208, 0.9);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;

}


@media screen and (max-width: 768px) {
    .containerDatiConto, .bloccoTransazioni {
        width: 90%;
    }
}


.containerDatiTransazioni {
    width: 100%;
    max-height: 38vh;
    text-align: center;
    background-color: rgba(208, 208, 208, 0.9);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;

    scrollbar-width: thin;
    scrollbar-color: #3498db #f2f2f2;
}



.containerDatiTransazioni::-webkit-scrollbar {
    width: 12px;
}

.containerDatiTransazioni::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 6px;
}

.containerDatiTransazioni::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}



@media screen and (min-width: 1600px) {
    .bloccoTransazioni {
        margin-top: -5%;
        width: 90%;
    }
}



button {
    height: auto;
    width: 65%;
    background-color: #3498db;
    color: #ffffff;
    padding: 0.1vw 0.1vw;
    font-size: 18px;
    font-weight: 540;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}




.informazioniConto{
    align-items: center;
    padding: 180px;
    display: flex;
    flex-direction: column;
    gap:5vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}



.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: auto;
    background: rgb(217, 217, 217);
    border-radius: 2vh;
    border: 2px solid #08090B;
    z-index: 1;
}

.contenutoPopup{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}


.popup-btn {
    margin-top: 2%;
    margin-left: 85%;
    width: 10%;
    background-color: #3498db;
    color: #ffffff;
    padding: 5px 5px;
    font-size: 18px;
    font-weight: 540;
    border-radius: 7px;
    cursor: pointer;
}




/*CENTRO NOTIFICHE DA IMPLEMENTARE*/


.centroNotifiche {
    align-items: center;
    text-align: center;
    align-content: center;
    position: relative;
}

.badge {
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 6px 8px;
    font-size: 12px;
    display: inline-block;

}

.notificheMenu {
    opacity: 0; /* Parti con l'opacità a 0 */
    visibility: hidden; /* Nascondi il contenuto */
    transition: opacity 0.3s ease, visibility 0s linear 0.3s; /* Transizione per opacità */
    position: absolute;
    border: 2px solid #08090B;
    border-radius: 1vh;
    white-space: nowrap;
    background: rgb(217, 217, 217);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    height: auto;
    width: 800%;
    z-index: 1;
    left: -100%;
    scrollbar-width: thin;
    scrollbar-color: #3498db #f2f2f2;
    max-height: 300%;
    overflow: auto;
}



.notificheMenu::-webkit-scrollbar {
    width: 12px;
}

.notificheMenu::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 6px;
}

.notificheMenu::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

#noticheLI{
    margin-top: 1vh;
}

.notificheMenu li {
    font-weight: bold;
    font-size: 17px;
    border-radius: 1vh;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    line-height: 200%;
    align-items: center;
}




.notificheMenu.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.eliminaNotifica{
    margin-right: 2%;
    white-space: nowrap;
    cursor: pointer;
    float: right;
    color: #000000;
    font-weight: bold;
}







#transazioniTable thead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
}




.boxRicerca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:5rem

}

#titleTrans {
    white-space: nowrap;
    text-align: center;
    width: 100%;
}

#searchInput {
    border-radius: 2vh;
    width: 150%;
    padding: 2%;
}

#filterSelect {
    border-radius: 2vh;
    width: 150%;
    padding: 2%;
}
