<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/homepage_logged.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logoBanca.ico" type="image/x-icon">
    <title>Conto Corrente Personale</title>
    
    <script src="/javaScripts/funzioniHomepage.js"></script>


</head>
<header>
    <div class="containerLogo">
        <img class="logo" src="/images/logoBanca.png" alt=""></div>
        <div class="container2">
            <div class="notifiche-esci">
            <h1 class="titolo">Conto Corrente Personale</h1>
                <a href="/redirect/tornaHomepage" class="logout">
                    <img class="esciImage" src="/images/iconaEsci.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <!--
    <div class="centroNotifiche">
        <div class="notificheIcona" onclick="toggleNotifiche()">
            <img src="/images/notificheIcona.png" alt="Notifiche">
            <span class="notificheCounter" th:text="${numeroNotificheNonLette}"></span>
        </div>
        <div class="notificheMenu" id="notificheMenu">
            Notifiche verranno visualizzate qui
            <span th:if="${notifiche.isEmpty()}">Nessuna notifica</span>
            <ul th:if="${notifiche.size() > 0}">
                <li th:each="notifica : ${notifiche}">
                    <span th:text="${notifica.testo}"></span>
                    <img src="/images/eliminaIcona.png" alt="Elimina" onclick="eliminaNotifica(${notifica.id})">
                </li>
            </ul>
        </div>-->


</header>
<body>
  <nav>
      <ul>
          <li><a id="redirect" href="/personal_data"><img class="imageButton" src="/images/iconaProfilo.png" alt=""></a></li>
          <li><a id="redirect2" href="/redirect/vaiPaginaCarte"><img class="imageButton" src="/images/iconaLeTueCarte.png" alt=""></a></li>
          <li><a id="redirect3" href="/redirect/vaiPaginaPagamenti"><img class="imageButton" src="/images/iconaPagamenti.png" alt=""></a></li>
      </ul>
      <div class="picture">
          <img class="arrow" src="/images/arrow-right.png" alt="">
      </div>
  </nav>
  <div class="informazioniConto">
    <div class="containerDatiConto">
        <h1>Benvenuto <span th:text="${utente.getNome()}"></span></h1>
        <h3>Numero conto: <span th:text="${conto.getNumCC()}"></span></h3>
        <h3>Saldo: <span th:text="${conto.getSaldo()}"></span></h3>
        <h3>Stato: <span th:text="${conto.getStatoConto().getValoreStato()}"></span></h3>
    </div>
    <div class="containerDatiTransazioni">
      <h2 id="titleTrans">Ultime transazioni</h2>

        <div class="scrollable-list">
            <div th:each="item, iterStat : ${conto.getMovimenti()}">
                <!-- Visualizza i dati dal database -->

                <p class="oggettoCliccabile" th:text="${item.getDataTransazione()+' '+item.getImporto()+' '+item.getCausale()}" onclick="mostraNascondiDettagli('oggettoID' + ${iterStat.index})"></p>

                <!-- Elementi aggiuntivi nascosti inizialmente -->
                <div id="oggettoID${iterStat.index}" class="additional-info">
                    <!-- Aggiungi qui gli elementi aggiuntivi -->
                        <p th:text="${item.getCostoTransazione()}"></p>
                        <p th:if="${item.getEsito()}" th:text="Eseguita" style="color: green;"></p>
                        <p th:unless="${item.getEsito()}" th:text="Rifiutata" style="color: red;"></p>


                    <p th:if="${item.getNomeBeneficiario() ne 'ERRORE'}" th:text="${item.getNomeBeneficiario()}"></p>
                        <p th:if="${item.getCognomeBeneficiario() ne 'ERRORE'}" th:text="${item.getCognomeBeneficiario()}"></p>
                        <p th:if="${item.getIbanDestinatario() ne 'ERRORE'}" th:text="${item.getIbanDestinatario()}"></p>
                        <p th:if="${item.getValutaPagamento() ne 'ERRORE'}" th:text="${item.getValutaPagamento()}"></p>
                        <p th:if="${item.getPaeseDestinatario() ne 'ERRORE'}" th:text="${item.getPaeseDestinatario()}"></p>
                    </div>

                </div>
            </div>
        </div>

    </div>
  </div>
</body>

</html>
