<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/personal_data.css">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/logoBanca.ico" type="image/x-icon">

  <title>Dati personali</title>
  <script src="/javaScripts/funzioniDatiProfilo.js"></script>

</head>
<body>
<header>
  <a id="buttonGoBack" href="/redirect/vaiLogged" >Indietro</a>
</header>

<div class="containerPrincipale">

        <h1>DATI PROFILO</h1>

          <form class="formDati">
            <div class="colonnaUna">
              <h2>Dati personali</h2>

              <label for="inputFirstName">Nome</label>
              <input class="form-control" id="inputFirstName" type="text" placeholder="" th:placeholder="${utente.getNome()}" readonly/>

              <label for="inputLastName">Cognome</label>
              <input class="form-control" id="inputLastName" type="text" th:placeholder="${utente.getCognome()}" readonly>

              <label for="inputEmailAddress">Indirizzo email</label>
              <input class="form-control" id="inputEmailAddress" type="email" th:placeholder="${utente.getEmail()}" readonly>

              <label for="telefono">Numero di telefono</label>
              <input class="form-control" id="telefono" type="text" th:placeholder="${utente.getNumTelefono()}" readonly>

              <label for="cf">Codice fiscale</label>
              <input class="form-control" id="cf" type="text" th:placeholder="${utente.getCodiceFiscale()}" readonly>

              <label for="comuneNascita">Comune di nascita</label>
              <input class="form-control" id="comuneNascita" type="text" th:placeholder="${utente.getComuneNascita()}" readonly>

              <label for="dataNascita">Data di nascita</label>
              <input class="form-control" id="dataNascita" type="text" name="birthday" th:placeholder="${utente.getDataNascita()}" readonly>

              <label for="provinciaDiNascita">Provincia di nascita</label>
              <input class="form-control" id="provinciaDiNascita" type="text" th:placeholder="${utente.getProvNascita()}" readonly>

              <label for="sesso">Sesso</label>
              <input class="form-control" id="sesso" type="text" th:placeholder="${utente.getSesso()}" readonly>

              <label for="cittadinanza">Cittadinanza</label>
              <input class="form-control" id="cittadinanza" type="text" th:placeholder="${utente.getCittadinanza()}" readonly>


              <h2>Indirizzo residenza</h2>

              <label for="nomeStrada">Nome strada</label>
              <input class="form-control" id="nomeStrada" type="text" th:placeholder="${utente.getResidenza().getTipologiaVia().getTipoVia()+' '+utente.getResidenza().getNomeVia+' '+utente.getResidenza().getNumCivico()}" readonly>

              <label for="comune">Comune</label>
              <input class="form-control" id="comune" type="text" th:placeholder="${utente.getResidenza().getComune().getNomeComune()+' '+utente.getResidenza().getComune().getCap()}" readonly>

              <label for="provincia">Provincia</label>
              <input class="form-control" id="provincia" type="text" th:placeholder="${utente.getResidenza().getComune().getProvincia()+' '+utente.getResidenza().getComune().getRegione()}" readonly>

            </div>
            <div class="colonnaDue">

              <h2>Dati conto</h2>

              <label for="numConto">Numero conto</label>
              <input class="form-control" id="numConto" type="text" th:placeholder="${conto.getNumCC()}" readonly>

              <label for="Iban">IBAN</label>
              <input class="form-control" id="Iban" type="text" th:placeholder="${conto.getIban()}" readonly>

              <label for="dataApertura">Data apertura</label>
              <input class="form-control" id="dataApertura" type="text" th:placeholder="${conto.getDataApertura()}" readonly>

              <label for="tassoInt">Tasso interesse</label>
              <input class="form-control" id="tassoInt" type="text" th:placeholder="${conto.getTassoInteresse()+'%'}" readonly>

              <label for="tarAnn">Tariffa annuale</label>
              <input class="form-control" id="tarAnn" type="text" th:placeholder="${conto.getTariffaAnnuale()+'€'}" readonly>

              <label for="occup">Occupazione</label>
              <input class="form-control editable" id="occup" type="text" th:placeholder="${utente.getOccupazione()}" readonly>

              <label for="reddAnn">Reddito annuo</label>
              <input class="form-control editable" id="reddAnn" type="text" th:placeholder="${utente.getRedditoAnnuo()+'€'}" readonly>

              <h2>Indirizzo fatturazione</h2>

              <label for="nomeStradaFat">Nome strada</label>
              <input class="form-control" id="nomeStradaFat" type="text" th:placeholder="${conto.getIndFatturazione().getTipologiaVia().getTipoVia()+' '+conto.getIndFatturazione().getNomeVia+' '+conto.getIndFatturazione().getNumCivico()}" readonly>

              <label for="comuneFat">Comune</label>
              <input class="form-control" id="comuneFat" type="text" th:placeholder="${conto.getIndFatturazione().getComune().getNomeComune()+' '+conto.getIndFatturazione().getComune().getCap()}"  readonly>

              <label for="provinciaFat">Provincia</label>
              <input class="form-control" id="provinciaFat" type="text" th:placeholder="${conto.getIndFatturazione().getComune().getProvincia()+' '+conto.getIndFatturazione().getComune().getRegione()}" readonly>


            </div>
          </form>
          <div class="bottoni">
            <button onclick="openPopup()" type="button">Modifica email</button>
            <button onclick="openPassPopup()" type="button">Modifica password</button>
            <button onclick="openSosPopup(1, 'sospendi')" type="button">Sospendi conto</button>
            <button onclick="openSosPopup(2, 'chiudi')" type="button">Chiudi conto</button>

          </div>
  </div>

<div id="popup" class="popup">
  <div class="popup-content">
    <label class="labelPop" for="nuovaEmail">Nuova email</label>
    <input class="inputPopUp" id="nuovaEmail" type="text">
    <div class="error-message" id="errorEmailMessage" style="color: red; display: none;">Formato email non valido</div>
    <div class="contBott">
      <button class="bottonePopUp" onclick="closePopupFunction()">Annulla</button>
      <button class="bottonePopUp" onclick="validateEmail()">Conferma</button>
    </div>
  </div>
</div>





<div id="popupSospensione" class="popup">
  <div id="sosPopup-content">
    <label class="labelPop" for="passwordSosp"></label>
    <input class="inputPasPopUp" id="passwordSosp" type="password" placeholder="Inserisci la password">
    <img id="confermaPassIcon" class="show-password2" src="/images/hide.png" alt="" onclick="confermaToggleNuovaPass()">
    <div class="error-message" id="errorPassword" style="color: red; display: none;">Password errata</div>
    <div class="contBott">
      <button class="bottonePopUp" onclick="closePopupFunction()">Annulla</button>
      <button class="bottonePopUp" onclick="sospendiChiudi()">Conferma</button>
    </div>
  </div>
</div>


<div id="popupPasword" class="popup">
  <div id="passPopup-content">
    <label class="labelPop" for="nuovaPass">Nuova password</label>
    <input class="inputPopUp" id="nuovaPass" type="password">
    <img id="nuovaPassIcon" class="show-password" src="/images/hide.png" alt="" onclick="toggleNuovaPass()">
    <span id="nuovaPassError" class="error"></span>

    <label class="labelPop" for="confPass">Conferma password</label>
    <input class="inputPopUp" id="confPass" type="password">
    <img id="confPassIcon" class="show-password" src="/images/hide.png" alt="" onclick="toggleConfPass()">
    <span id="confPassError" class="error"></span>

    <div class="contBott">
      <button class="bottonePopUp" onclick="closePopupFunction()">Annulla</button>
      <button class="bottonePopUp" onclick="validatePassword()" >Conferma</button>
    </div>
  </div>
</div>


<div id="popupConferma" class="popupConferma" style="display: none;">
  <div class="contenutoPopup">
    <p id="popup-message"></p>
    <button class="bottoneConferma" onclick="closePopup()">Chiudi</button>

  </div>

</div>




</body>
</html>