body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    background-color: whitesmoke;
    color: #fff;
    padding: 20px;
    width: 65px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: fixed;
    top: 0;
    bottom: 0;
    transition: width 0.3s;
    overflow: hidden;
}

nav:hover {
    width: 220px;
    .arrow{
        transform: scaleX(-1);
    }
    .imageButton{
        align-items: center;
        margin-left: 30px;
        margin-bottom: 10px;
    }
}


.picture{
    width: 30px;
    height: 420px;
}
.arrow{
    max-width: 135%;
    max-height: 100%;
}
.imageButton{
    max-width: 50%;
}
.logo{
    max-width: 80%;
    margin-left: -40px;
}


nav:hover {
    .imageButton{
        right: 50px;
    }
}

.sectionConto{
    padding: 30px;
    background-color: lightblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 0;
    margin: 50px 500px 50px 500px;
    width: 800px;
}

.sectionTransazioni{
    padding: 30px;
    background-color: lightblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 0;
    margin: 50px 500px 50px 500px;
    width: 800px;
}

#titleTransactions{
    background-color: black;
}

.status{
    display: flex;
}

h2 {
    color: #333;
}

.conto-info {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

#bottone-notifiche{
    padding: 2vh 5vh;
    background-color: lightslategrey; /* Colore di sfondo */
    color: #fff; /* Colore del testo */
    border: none; /* Rimuovi il bordo */
    border-radius: 5px; /* Bordo arrotondato */
    cursor: pointer;
    font-size: 16px;
}

#bottone-notifiche:hover{
    background-color: #0b4d74;
}

.notifiche-esci{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15vh;
}

.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80vh;
}

.notification-text {
    display: inline-block;
}

.titolo{
    font-size: 4vh;
}


.logout{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 3vh;
}

.notification-badge {
    display: inline-block;
    background-color: firebrick;
    color: white;
    font-size: 14px;
    border-radius: 50%;
    padding: 8px 12px;
    margin-left: 5vh;
    margin-top: -2.5vh;
    vertical-align: top;
}

.notifications-container {
    position: relative;
}

.notification-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000000;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
    z-index: 999; /* Set a higher z-index value */
}

@media (max-width: 1800px) {
    .sectionConto,
    .sectionTransazioni {
        width: 50%;
        margin-left: 65vh;
    }

    .container2 {
        flex-direction: row;
        gap: 10px;
    }

    .notification-list {
        max-height: 100px; /* Imposta l'altezza massima del container delle notifiche */
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30vh;
    }

    #titleTransactions {
        flex-grow: 1; /* Fai espandere il titolo per occupare lo spazio rimanente */
        margin-right: 20px; /* Aggiungi spazio a destra del titolo */
    }

    #bottone-notifiche,
    .notifiche-esci {
        padding: 18px 15px;
        margin-left: 180px; /* Aggiungi spazio a sinistra del bottone notifiche e di esci */
    }
    nav:hover {
        width: 170px;
    }
}
